    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <img src="/visol_logo.png" id="logo-container" class="img-logo" href="#" class="brand-logo">
        <ul class="right hide-on-med-and-down">
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </ul>
      </div>
    </nav>

<div class='charts-wrapper'>
  <div class='actual-charts'>
    <%= high_chart('battery-chart-1', @battery_chart_1) %> <br>
  </div>


  <h3>Purchase or Lease?</h3>
  <div class='battery-charts'>
    <h5>Purchase</h5>

    <li>Maximixed savings</li>
    <li>Federal and state tax credits</li>
    <li>Home Value Increase</li>
    <li>Upfront payment</li><br>

    <h5>Lease</h5>
    <li>No upfront costs</li>
    <li>No hassle of ownership</li>
    <li>Guarenteed performance</li><br>

    <h4>
      <a href="#">Click hear to speak to a Solar Pro!</a>
    </h4>

  </div>
</div>
