     <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><img src="visol_logo.png" id="logo-container" class="img-logo" href="#" class="brand-logo"> </img>
        <ul class="right hide-on-med-and-down">
          <%=link_to 'Login', login_path%>
          <a href="#">Sign up</a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </ul>
      </div>
    </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Welcome to ViSol</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern solution for solar system owners.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center"> Power-as-a-service</h5>
            <p class="light">
              <li>Visualize Generation</li>
              <li>Engage Existing Customers</li>
              <li>Energy Independence</li>
              <li>Sustainable Energy</li></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Homeowner Benefits</h5>
            <p class="light">
              <li>Back-up Storage</li>
              <li>Self Consumption</li>
              <li>Energy Arbitrage</li>
              <li>Ancillary Service Participation</li>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">System Owner Benefits</h5>
            <p class="light">
              <li>Maximize Portfolio Revenue</li>
              <li>Load Shifting</li>
              <li>Peak Reduction</li>
              <li>Solar Smoothing</li>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
