<!DOCTYPE html>
<html>
  <head>
    <title>ViSol</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>


    <%= yield %>

    <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of developers and solar professionals that seek to make solar solutions more understandable.</p>


        </div>
        <div class="col l3 s12">
          <h5> <a href="#" class="white-text"> About Us </h5> </a>
        </div>
        <div class="col l3 s12">
          <h5> <a href="#" class="white-text"> Our Mission </h5> </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Ryan, Vishwas, Ravi, and Dale</a>
      </div>
    </div>
  </footer>

  </body>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</html>
